.NavBar {
    background-color: #c02c2c7f;
    color: rgb(143, 181, 39);
}

.menu-bar {
    display: flex;
    justify-content: space-between;
}

.menu-bar ul {
    list-style: none;
    display: flex;
}

.menu-bar li {
    margin-right: 80px;
}

.menu-bar a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}