.apple-page {
    text-align: center;
    min-height: 1000vh;
    background-color: #00000000;
}

.logo-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.8s ease;
}

.apple-logo {
    width: 300px;
    height: auto;
}

.iphone-container {
    padding: 40px 0;
}

.iphone-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    opacity: 0.9;
}

.iphone15pro-image {
    max-width: 400px;
    margin-top: 80px;
}

.iphone15promax-image {
    max-width: 600px;
    margin-top: 80px;
}

.iphone15-image {
    max-width: 400px;
    margin-top: 80px;
}

.details-button {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007aff;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.details-button:hover {
    background-color: #0056b3;
}

.iphone-description {
    margin-top: 15px;
    text-align: left;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
}

@media (max-width: 768px) {
    .apple-logo {
        width: 200px;
    }

    .iphone-image {
        max-width: 300px;
    }

    .iphone-description {
        width: 95%;
        font-size: 12px;
    }
}

.video-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-modal video {
    max-width: 80vw;
    max-height: 80vh;
}

.video-modal button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
}