.apple-page {
    text-align: center;
    min-height: 100vh;
    background-color: #403f3f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1500px;
}

.logo-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.8s ease;
    z-index: 10;

}

.apple-logo {
    width: 300px;
    height: auto;
}

.iphone-container {
    margin: 20px;
    flex-basis: calc(50% - 200px);
}

.iphone-container h2 {
    color: white;
}

.iphone-image {
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    opacity: 0.9;

}

.products-container {
    display: flex;
    justify-content: space-around;
    /* This will space out the phones evenly */
    align-items: center;
    flex-wrap: wrap;
}

.iphone-display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

/* Combined styles for images to reduce redundancy */
.iphone15pro-image,
.iphone15promax-image,
.iphone15-image,
.iphone14-image,
.iphone15promax {
    max-width: 400px;
    /* Adjusted to be the same for all */
    margin-top: -100px;

}

.details-button {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007aff;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.details-button:hover {
    background-color: #0056b3;
}

.iphone-description {
    margin-top: 15px;
    text-align: left;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    color: #ffffff;
}

@media (max-width: 778px) {
    .apple-logo {
        width: 200px;
    }

    .iphone-image,
    .iphone15pro-image,
    .iphone15promax-image,
    .iphone15-image,
    .iphone14-image {
        max-width: 450px;
    }

    .iphone-description {
        width: 95%;
        font-size: 12px;
    }
}

.video-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    /* Ensure modal is above all other content */
    background: rgba(0, 0, 0, 0.8);
    /* Dark background for better visibility */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-modal video {
    width: 90%;
    /* Responsive width */
    max-height: 80vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Optional: add shadow for depth */
}

.video-modal button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff4545;
    /* Bright red for visibility */
    color: white;
    border: none;
    cursor: pointer;
}

/*
@media (max-width: 768px) {
    .products-container {
        flex-direction: column;
    }

    .iphone-container {
        flex-basis: auto;

    }


    .iphone15pro-image {
        max-width: 450px;
    }
}

@media (max-width: 768px) {
    .iphone-image {
        max-width: 100%;
    }
}*/

.pay-button {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    background-color: #747574;
    /* Example: A green color */
    color: white;
    border: none;
    border-radius: 1px;
    transition: background-color 0.6s ease;
}

.pay-button:hover {
    background-color: #8a8b8a;
    /* Darker green */
}

.iphone14plus-container {
    align-self: flex-start;
    /* Aligns this item to the start of the cross axis */
    max-width: 450px;
    /* Adjust as needed for size */
    margin-left: 970px;
    /* Give it some space from the left edge */
    margin-top: -400px;
    /* Adjust as needed for spacing from top */
}

/* Ensuring the image within the iPhone 14 Plus container is sized correctly */
.iphone14plus-container .iphone-image {
    max-width: 80%;
    /* Make it as wide as its container */
    height: auto;
    /* Maintain aspect ratio */
}

.iphone14-container .iphone-image {
    max-width: 125%;
    /* Make it as wide as its container */
    height: auto;
    /* Maintain aspect ratio */
}

.iphone14-container {
    align-self: flex-start;

    margin-top: -650px;
    margin-left: 700px;

}

.iphone15promax-container .iphone-image {
    max-width: 90%;
    /* Make it as wide as its container */
    height: auto;
    /* Maintain aspect ratio */
}

.iphone15promax-container {
    margin-top: -100px;
    margin-right: 870px;


}