.samsung-page {
    text-align: center;
    min-height: 1000vh;
    background-color: rgba(248, 248, 248, 0.096);
    /* Adjust the background color as needed */
}

.logo-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.8s ease;
}

.samsung-logo {
    width: 390px;
    /* Adjust the size as needed */
    height: auto;
}

body {
    background-color: #1a181819;
    /* Light gray background */
}